<div class="ads">
    <div class="ad-unit" style="height:{{ include.height }};padding-top:{{ include.padding }};">
        {% if include.type == 'adsense' %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1555037532758037"
     crossorigin="anonymous"></script>
<!-- mm 4 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1555037532758037"
     data-ad-slot="6856049393"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        {% else %}
        Ad Unit ({{ include.width }}x{{ include.height }})
        {% endif %}
    </div>
</div>
